header {
    background-color: rgb(66, 57, 57);
    color: whitesmoke;
}

. {
    display: inline-block; 
    /* ceter all text */
}

main {
    background-color: grey;
}
body {
    background-image: recorging ;
}